
.main {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #354f52;
  height: 300px;
  margin: 0;
}
.new-game-btn{
  margin-top: 12px;
  background-color: #04b519;
  border: 1px solid darkgrey;
  border-radius: 4px;
  color: white;
  text-shadow: 0px 0px 3px black;
  font-weight: bolder;
  padding: 8px 16px;
  font-size: 20px;
}
.home-score{
  margin-bottom: 0;
}
.guest-score{
  margin-bottom:0 ;
}
/* utlity classes */
.perso-buttons{
  padding: 5px 14px;
  margin-right: 2px;
  color:#1a4301 ;
  text-shadow: 1px 1px 5px #04b519;
  background-color: white;
  border: 2px solid rgb(22, 48, 56);
  border-radius: 4px;
}

.score-board{
  background-color: #003459;
  border-radius: 6px;
  margin: 4px 0px 12px 0px;
  color: #a41623;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-family: "Share Tech Mono", monospace;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  font-size: 50px;
  letter-spacing: 3px;
  color: white;
  text-shadow: 0px 0px 7px black;
}
